.dropdown-panel{position:fixed;margin-top:.5rem;left:1rem;right:1rem;width:auto!important}@media(min-width:640px){.dropdown-panel{position:absolute;left:0;right:auto;width:revert-layer!important;max-width:calc(100vw - 2rem)}}
